* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.progress {
  min-height: 25px;
}

.details-ul {
  padding-left: 0;
}

.stocks-container h1 {
  margin-top: 30px;
}