
.progress-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

progress {
  appearance: none;
  border: none;
  width: 100%;
  height: 16px;
  border-radius: 100vmax;
  overflow: hidden;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
} 

small {
  font-size: clamp(0.78rem, calc(0.71rem + 0.35vw), 0.96rem);
  line-height: 1;
}

.budgets {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.budget {
  display: -ms-grid;
  display: grid;
  flex: 1 1 32.2%;
  max-width: 450px;
  box-shadow: 0.25em 0.3em 1em hsl(183 8% 55% / 0.2);
  background-color: hsl(190 60% 98%);
  border-radius: 25px;
  border: 3px solid hsl(183 74% 44%);
  padding: calc(24px / 1.5) calc(24px / 1.2);
  gap: 16px;
  text-decoration: none;
  /*color: hsl(183 74% 44%);*/
}

