/* Styling for: ALL debt pages */
.debt-goal-section {
  padding: 30px 0;
}

.debt-goal-section .row {
  margin-top: 30px;
}

.debt-goal-section .col {
  padding: 40px 50px;
  max-width: 47%;
}

.debt-page-how-it-works {
  height: 500px;
}

.debt-page-how-it-works h4 {
  padding-bottom: 25px;
}

.debt-text-bg {
  background-color: rgba(246, 242, 242, 0.7);
  padding: 40px 25px;
  width: 75%;
  margin-top: 40px;
}

.btn-light:hover {
  background-color: #3B7601;
  color: white;
}


/* Styling for: Create debt Goal page */
.create-debt-container {
  background-image: url('https://images.unsplash.com/photo-1589758438368-0ad531db3366?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

/* .create-debt-container h4 {
  color: white;
} */

.create-debt-container form input {
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 10px;
}

.create-debt-container button {
  margin-top: 10px;
}

/* Styling for: Current debt Goal page */
.current-debt-container {
  background-image: url('https://images.unsplash.com/photo-1633158829875-e5316a358c6f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

/* Styling for: Completed debt Goal page */
.debt-achievements-pg h1 {
margin-top: -27px;
}

.no-completed-debt-container {
  background-image: url('https://images.unsplash.com/photo-1600636214973-8ccfde1f6a67?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.completed-debt-container {
  background-image: url('https://images.unsplash.com/photo-1569705460033-cfaa4bf9f822?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1474&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 6px;
}

.completed-debt-container h4 {
  color: white;
}

.completed-debt-container .debt-text-bg {
  padding: 20px 30px;
  margin-top: 15px;
}

.congrats-container {
  padding-top: 20px;
}

.congrats-confetti {
  background-color: rgb(35, 215, 246);
  padding: 5px 10px;
}


