footer {
  width: 100%;
  background-color: #526E11;
  margin-top: 150px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  color: #BBD187;
  padding-left: 20%;
  padding-right: 20%;
}

.social-icons {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: x-large;
  padding-left: 40%;
  padding-right: 40%;
}

.footer-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  margin-bottom: 0.5rem;
  color: white;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #BBD187;
}