h1 {
  color: white;
}
.homepage {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.homepage-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: white;
}

.back-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}